form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.decks-container {
  margin: 20px auto;
  width: 600px;
  text-align: center;
}

.decks {
  padding-left: 0;
  width: 600px;
  margin: 40px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.decks > li {
  padding: 10px;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  border: 3px solid #646cff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 1px #000000;
}

.decks > li:hover {
  border: 3px solid #535bf2;
}

.decks > li > button {
  padding: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.center {
  text-align: center;
}
